
DATABASE_URL="postgresql://edtechrag_dev:PASSWORT_NOGIT@localhost:5434/edtechrag_dev"
SHADOW_DATABASE_URL="postgresql://edtechrag_dev:PASSWORT_NOGIT@localhost:5434/edtechrag_migrations"

OPENAI_API_KEY = sk
OPENAI_API_BASE = https://.../v1/

OPENAI_API_BASE_EMBEDDING = 
EMBEDDING_MODEL = 


