DATABASE_URL="postgresql://edtechrag_dev:PASSWORT_NOGIT@pgvector:5434/edtechrag_dev"
SHADOW_DATABASE_URL="postgresql://edtechrag_dev:PASSWORT_NOGIT@pgvector:5434/edtechrag_migrations"

SESSION_JWT_SECRET = JWT_NOGIT

SERVER_PW_PEPPER = PEPPER_NOTGIT

PUBLIC_FOOTER_HTML="<a href='https://edtechrag.local/impressum' target='_blank'>Impressum</a>"
